tr, td {
    border: none !important;
}

header {
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    border: none !important;
    text-transform: uppercase;
}

section .title {
    color: slateblue;
}

p {
    white-space: initial !important;
}
